body {
    background-color: rgb(255, 255, 230);
}

header {
    text-align: center;
    margin: 30px;
    padding: 20px;
    font-family: 'Barlow', sans-serif;
    font-family: 'Playfair Display', serif;


    hr {
        margin-top: 20px;
    }
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
    width: 80%;
    margin: 10px auto;
    font-family: 'Barlow', sans-serif;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}

.item {
    width: 30%;
    margin-bottom: 30px;

    img {
        width: 50%;
        height: 170px;
        border: 1px solid rgb(245, 213, 8);
        box-shadow: 5px 5px 5px rgb(226, 221, 91);

    }
}